.boxes
{
  text-align: center;
  padding: 2rem;
  padding-left: 3.6vw;
  padding-right: 3.6vw;

  
  /* border: solid black; */
  width: 66.5vw;
}

#iddb1
{
  text-align: left;
}

#iddb2
{
  /* border: solid black; */
}
