.boxes
{
  text-align: center;
  /* border: solid black; */
  padding: 2rem;
  padding-left: 6vw;
  padding-right: 6vw;
  margin-left: 10vw;
  margin-right: 10vw;
}

#id1
{
  margin-left: 12vw;
  text-align: left;
}
