#logo
{
    background-image: url("C:\Users\Shree\Documents\Web_Development\learning\web_dev_learnings\react_learn\br_photope_2\public\photope_logo.png");
    background-size: 160px;
    height: 60px;
    width: 175px;
    background-repeat: no-repeat;
    display: inline-block;
    /* border: solid black; */
}

#idnb2
{
    padding: 7px;
    padding-top: 15px;
    border-radius: 3px;
    border-width: 2px;

}

.highlight
{
    color: #4680FF;
    text-decoration: none;
    border-bottom-left-radius: 0px;
    padding: 7px;
    border-width: 2px;
    display: inline-block;

    /* border: solid black; */
    padding: 1rem;
    padding-left: 1.5rem;
    background-color: rgba(70, 128, 255, 0.08);
    width: 12.5rem;
    border-radius: 10px;
}

.c1
{
    color: #5B6B79;
    text-decoration: none;
    border-bottom: none;
    padding: 7px;
    border-width: 2px;
    display: inline-block;

    /* border: solid black; */
    padding: 1rem;
    padding-left: 1.5rem;
    width: 12.5rem;
    border-radius: 10px;
}


#idnb3
{
    width: 17rem;
    max-height: inherit;
    border-right: solid rgb(159, 158, 158);
    display: inline-block;

    overflow-y: scroll;
    min-height: 97.8vh;

}

#idnb4
{
    /* border: solid black; */
    text-align: center;
    position: sticky;
    top: 0rem;
    background-color: #F8F9FA;
    width: 16.3rem;
    padding-top: 0.005rem;
    padding-bottom: 0.005rem;
}