

.cnc1
{
    display: inline-block;
    width: 27vw;
    padding: 10px;
}

#idnc2
{
    margin-left: 20.5vw;
    margin-right: 20.5vw;
}

.cnc2
{
    width: 25vw;
    height: 23px;
}

.cnc3
{
    width: 11.7vw;
    height: 23px;
}

.cnc4
{
    display: inline-block;
    width: 12vw;
    padding: 10px;
}

#idnc3
{
    margin-left: 7.2vw;
    background-color: rgb(74, 165, 74);
    width: 60px;
    height: 28.19px;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#idnc3:hover
{
    background-color: rgb(77, 184, 77);

}

#idnc4
{
    margin-left: 1.7vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}