
#idop0
{
    /* border: solid pink; */
    text-align: center;
}

#idop1
{
    display: inline-block;
    max-height: 40vh;
    overflow-y: scroll;
    /* border: solid black 1px; */
    
}


#idop3
{
    top: 0px;
    position: sticky;
    background-color: rgb(116, 115, 115);
}

td
{
    min-width: 14vw;
    border: solid black 1px;
    border-collapse: collapse;
}

th
{
    min-width: 14vw;
    border: solid black 1px;
    border-collapse: collapse;
    border-top: none;
}

#idop4
{
    width: 85vw;
    display: inline-block;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: rgb(239, 239, 239);
}

#idop5
{
    min-width: 60px;
    cursor: pointer;
}

#idop6
{
    /* border: solid black; */
    text-align: center;
}

#idop7
{
    /* border: solid black; */
    display: inline-block;
    text-align: center;
    width: 85vw;
}

.cop1
{
    display: inline-block;
    /* border: solid black; */
    width: 12vw;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}

#idop8
{
    /* margin-left: ; */
}